/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 body {
  background-color: #ecf0f1 !important;
  font-family: 'Inika', serif;
 }

 .btn-glyph {
  background-color: #e5b730;
 }

 .glyph{
  width: 12px;
  height: 12px;
 }

 .habit-row {
  background-color: white;
  padding: 10px 0px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
 }

 .habit-title{
  margin-top: 0px;
 }

 .form-row {
  margin-top: 20px;
  line-height: 35px;
 }

 .inline-row{
  margin-bottom: -10px;
 }
 .inline-label {
  margin-left: 10px;
 }


.section-head {
    background-color: #f5d453;
    color: #526170;
    padding-top: 10px;
    font-size: 20px;
    padding-right: 2%;
}

.first-event {
  height: 150px;
  padding-top: 50px;
  border: 5px dashed grey;
  margin-top: 20px;
  text-align: center;
  background-color: #eeeeee;
}
.first-event:hover{
   background-color: white;
}

.left {
  float: left;
}
 .right{
  float: right;
 }

.clear-right {
  clear: right;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.underline {
  border-bottom: 1px solid black;
}

.blue-top {
  border: 3px #428bca solid;
  margin-top: -12px;
  margin-bottom: 10px;
}

.progress-ul {
  padding-left: 0px;
  width: 100%;
  display: block;
  margin: 15px 0 30px 0;
}

.progress-ul div {
  font-size: 12px;
  padding: 2px;
  border: solid 1px lightgrey;
  height: 10px;
  display: block;
  float: left;
  text-align: center;
  display: inline-block;
}

.progress-ul div:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.progress-ul div:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.progress-ul .active{
  background-color: #48c043;
}
.progress-ul .inactive{
  background-color: #e9e9e9;
}

.ui-sortable-placeholder {  
    border: 3px dashed #aaa;  
    width: 100%;  
    background: #ccc;
    margin: 10px 0;
}  

@media(max-width: 500px) {
  .section-head{
    font-size: 14px;
  }
}
