<div class="row post-row">
  <div class="col-xs-9 post-area">
    <textarea class="form-control" rows="3" data-name="<%= @habit.name %>"></textarea>
  </div>
  <div class="col-xs-3">
    <button id="post" type="button" class="btn btn-default btn-lg">Add</button>
  </div>
</div>