<div class="post-row">
  <div class="col-xs-9 post-area">
    <textarea class="form-control" rows="3" data-name="<%= @habit.name %>" data-habit="<%= @habit.id %>" ></textarea>
  </div>
  <div class="col-xs-3">
    <button id="post" type="button" class="btn btn-primary btn-md">Add</button>
  </div>
  <div style="display: block; clear: both;"></div>
</div>