<div class="section-head">
  
  <div class="alignleft">&nbsp;</div>
  <div class="aligncenter">
    <%= render title %>
  </div>
  <div class="alignright">
    <%= render actions %>
  </div>
  <div style="display: block; clear: both;"></div>
</div>